/*font-link:*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* common start */

body{
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/* common end */

/* header start */
header{
    padding: 30px 0;
    border: 1px solid;
}
.container{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
}
.logo{
    margin-top: 10px;
    float: left;
    width: 12%;
}
.logo a img{
    width: 100%;
}
.menu{
    float: right;
    width: 65%;
}
.menu ul{
    float: right;
    list-style: none;

}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: inline-block;
    padding: 0 55px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: .33s linear;
}
.menu ul li:last-child a{
     padding-right: 0;
}
.menu ul li a:hover{
    border-bottom: 1px solid #626262;
}


/* header end */
